.right-content
  .messages
    .message
      .message__text
      .message__user-name
      .message__date
    
  .form
    = form_for(current_user) do |f|
      .input-box
        %input{type: "text", class: "input-box__text",placeholder:"type a message"}
        %label{class:"input-box__image"}
          = icon('fas','image')
          %input{type:"file",class: "input-box__image__file"}
        %label{class:"input-box__image2"}
          = icon('fas','image')
          %input{type:"file",class: "input-box__image2__file"}
      %input{type: "submit",class:"submit-btn"}