body {
  background: linear-gradient(to top, rgba(255, 255, 255, 0.7) 0%, rgba(100, 170, 255, 0.667) 100%),url(team.jpg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 200vh;
}